# Android / Gradle
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Firebase
google-services.json
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

# Cloud Functions
functions/node_modules/
functions/lib/
functions/.env

# Secrets
*.env
!*.env.example
